@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

img {
  text-align: center;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  //filter: brightness(50%);
}

.centered {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

h1 {
  position: absolute;
  top: 10%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-family: 'Rubik Wet Paint', cursive;
  color: rgb(247, 111, 45);
}
