<div>
  <div>
    <img src="{{ imagePath }}" alt="" class="img1" />
    <div class="centered">
      <h2>Contact us</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span
            ><img src="../../../assets/2021_Facebook_icon.svg.png" alt=""
          /></span>
          <a href="facebook.com">facebook</a>
        </li>
        <li class="list-group-item">
          <span><img src="../../../assets/Twitter-Logo.png" alt="" /></span>
          <a href="twitter.com">twitter</a>
        </li>
        <li class="list-group-item">
          <span><img src="../../../assets/insta.jpeg" alt="" /></span>
          <a href="instagram.com">Instagram</a>
        </li>
      </ul>
    </div>
  </div>

</div>
